@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:ital,wght@0,300;0,500;0,600;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




/* #Variables */
/* #222840  Dark */
/* #384064 light */

*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.main{
  @apply h-[100vh]
}
.home{
  @apply bg-screenImg bg-center bg-no-repeat bg-contain w-full h-full
}
.welcome{
  @apply h-[100vh] bg-blue-500
}
.top_barr{
  @apply flex justify-between px-4 pt-4
}
.menu_bar{
  @apply text-xl font-semibold
}
.welcome_name{
  @apply px-3 text-2xl font-poppins font-medium
}
.top_body{
  @apply w-screen flex flex-col items-center justify-center -mt-[20%]
}
.top_body_btns {
  @apply mt-24 pb-5
}
.top_body_btns p{
  @apply text-center
}
.top_body_btns img{
 @apply pb-3 
}
.top_body .btn_img{
 @apply pb-3 w-[18rem]
}
.top_body_btns p{
  @apply py-1
}
.body_bottom{
  @apply flex items-center space-x-28
}
.routes{
  @apply absolute bottom-0 w-full px-5 mb-6 
}
/* .route_icons{
  @apply flex justify-between items-center px-8 py-4 rounded-3xl shadow-md bg-blue-500
} */
.route_icon{
  @apply text-3xl 
}

.auth_btn{
  @apply mt-3 w-full bg-blue-500 py-2 rounded-md text-white text-lg font-medium
}

.form_input{
  @apply my-3
}
.form_box{
  @apply py-2
}
.nav{
  @apply text-lg absolute z-40 w-[80vw] top-0 right-0 -mt-0 bg-blue-500 text-white h-[100vh] pl-2
}
.nav .div{
  @apply py-2 px-3 flex items-center space-x-4 text-xl
}
.nav .div{
  @apply py-2 px-3 flex items-center space-x-4 text-xl
}
.signup{
  @apply px-4
}
/* .welcome_splash{
  @apply px-4
} */
.auth_top{
  @apply w-full flex pt-3 text-2xl
}
/* space-x-28 */
.auth_top .auth_text{
  @apply mx-auto
}
.signin_text{
  @apply pt-3
}
.forget{
  @apply text-red-400 flex justify-end text-lg
}
.below_screen{
  @apply mx-5 
}
.caro{
 @apply px-3 pb-[10%]
}
/* .caro_img{
  @apply 
} */
.caro_text{
  @apply text-center font-poppins text-lg font-medium pt-6 text-white 
}
.below_btns{
  @apply mt-7 flex items-center justify-between px-20
}
.below_sign{
  @apply bg-blue-500 text-white border rounded-lg px-5 py-2 text-sm font-semibold cursor-pointer
}
.below_sign:hover{
  @apply text-blue-500 border-2 border-blue-500 bg-white
}
.bel_screen{
  @apply bg-white absolute bottom-0 w-full h-[30%] rounded-t-3xl text-center  
}
.welcome_logo{
  @apply w-full
}
.welcome_log{
  @apply w-[10rem] mx-auto
}
/* .top_bel{
  @apply text-center inline-flex text-3xl font-poppins font-semibold text-blue-500 py-0 my-0
} */
.logoo{
  @apply w-[7rem] -mt-8
}
/* -mt-8 */
.top_bel{
  @apply w-[8rem] mx-auto -mt-4
}
.bel_ll{
  @apply -mt-6 mb-7 font-open-sans 
}
.login{
  @apply pt-5
}
.fetch{
  @apply mt-7
}
.close_btn{
  @apply flex justify-end text-2xl pt-3 px-3
}

/* .home_body{
  @apply  bg-center bg-no-repeat bg-cover w-full h-full
} */
.push_btn{
  @apply rotate-180
}
/* .img{
  @apply w-[10rem] mx-auto
} */